@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css?family=Pacifico:wght@400;");

body {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #354358;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.app_container {
  padding-top: 50px;
}

.app_row {
  height: 80vh;
}

.main_content {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  padding: 25px 15px;
}

/* Sidebar */

.sidebar {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.sidebar_image {
  height: 110px;
  width: 120px;
  object-fit: contain;
  border-radius: 30px;
}

.sidebar_social-icons {
  height: 25px;
  width: 25px;
}

.sidebar_name {
  font-family: Pacifico;
  margin: 20px 0;
  font-size: 1.7rem;
}

span.firstName {
  color: #6a82fb;
}

.sidebar_item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
}

.sidebar_title {
  background-color: rgb(194, 190, 190);
  border-radius: 30px;
}

.sidebar_social-icons {
  margin: auto;
  justify-content: center;
}

.sidebar_contact {
  background-color: rgb(194, 190, 190);
  padding: 5px 0;
  margin: 20px -15px;
}

.sidebar_email {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #6a82fb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 10px;
  border-radius: 50px;
  color: white;
  font-size: x-large;
  transition: all 1s linear;
}

.sidebar_email:hover {
  transform: scale(1.2);
}

.sidebar_github:hover,
.sidebar_resume:hover {
  background-color: rgb(233, 226, 226);
  color: black;
  cursor: pointer;
}

@media (max-width: 991px) {
  .main_content {
    margin: 30px 0;
  }
}

/* Navbar */

.navbar_items {
  display: flex;
}

.navbar_active {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  border-bottom: 4px solid #6a82fb;
}

.navbar_item {
  margin: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

.navbar_item:hover {
  background: linear-gradient(to right, #6a82fb, #3f2b96);
  background: -webkit-linear-gradient(to right, #6a82fb, #3f2b96);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About section */

.about {
  padding: 20px;
  margin: -35px;
}

.about_intro {
  font-size: 1.1rem;
  padding: 20px;
  margin: 10px 0;
  font-weight: bold;
}

.about_container {
  background-color: #dbdddf;
  padding: 30px 20px;
  margin: 20px 0;
}

.about_heading {
  font-size: 25px;
  font-weight: 700;
  color: #354358;
  margin-left: 10px;
}

/* Skill card */
.skill_card {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.skill_card_icon {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.skill_card_body {
  margin-left: 15px;
  margin-top: 10px;
}

.skill_card_about {
  margin: 0;
  font-size: 0.9rem;
  color: #6e7e91;
}

.skill_card_title {
  font-weight: 600;
}
