@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css?family=Pacifico:wght@400;");

body {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #354358;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #3f2b96, #a8c0ff);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.app_container {
  padding-top: 50px;
}

.app_row {
  height: 80vh;
}

.main_content {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  padding: 25px 15px;
}

/* Sidebar */

.sidebar {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.sidebar_image {
  height: 110px;
  width: 120px;
  object-fit: contain;
  border-radius: 30px;
}

.sidebar_social-icons {
  height: 25px;
  width: 25px;
}

.sidebar_name {
  font-family: Pacifico;
  margin: 20px 0;
  font-size: 1.7rem;
}

span.firstName {
  color: #6a82fb;
}

.sidebar_item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
}

.sidebar_title {
  background-color: rgb(194, 190, 190);
  border-radius: 30px;
}

.sidebar_social-icons {
  margin: auto;
  justify-content: center;
}

.sidebar_contact {
  background-color: rgb(194, 190, 190);
  padding: 5px 0;
  margin: 20px -15px;
}

.sidebar_email {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #6a82fb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 10px;
  border-radius: 50px;
  color: white;
  font-size: x-large;
  transition: all 1s linear;
}

.sidebar_email:hover {
  transform: scale(1.2);
}

.sidebar_github:hover,
.sidebar_resume:hover {
  background-color: rgb(233, 226, 226);
  color: black;
  cursor: pointer;
}

@media (max-width: 991px) {
  .main_content {
    margin: 30px 0;
  }
}

/* Navbar */

.navbar_items {
  display: flex;
}

.navbar_active {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  border-bottom: 4px solid #6a82fb;
}

.navbar_item {
  margin: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

.navbar_item:hover {
  background: linear-gradient(to right, #6a82fb, #3f2b96);
  background: -webkit-linear-gradient(to right, #6a82fb, #3f2b96);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About section */

.about {
  padding: 20px;
  margin: -35px;
}

.about_intro {
  font-size: 1.1rem;
  padding: 20px 28px;
  margin: 10px 0;
  font-weight: bold;
}

.about_container {
  background-color: #dbdddf;
  padding: 30px 20px;
  margin: 20px 0;
}

.about_heading {
  font-size: 25px;
  font-weight: 700;
  color: #354358;
  margin-left: 10px;
}

/* Skill card */
.skill_card {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.skill_card_icon {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.skill_card_body {
  margin-left: 15px;
  margin-top: 10px;
}

.skill_card_about {
  margin: 0;
  font-size: 0.9rem;
  color: #6e7e91;
}

.skill_card_title {
  font-weight: 600;
}

/* Resume component */

.resume {
  padding: 20px;
}

.resume_card_heading,
.resume_skills_heading {
  margin-left: 10px;
  font-size: 1.6 rem;
  font-weight: 700;
  color: #354358;
}

.resume_card_body {
  margin-top: 10px;
}

.resume_card_title {
  font-weight: 700;
}

.resume_card_details {
  font-size: 0.9rem;
  padding: 5px;
}

.resume_card_name {
  font-size: 16px;
}

/* Bar component */
.bar {
  width: 90%;
  background-color: #f1f2f3;
  border-radius: 20px;
  margin-bottom: 12px;
}

.bar_icon {
  width: 15px;
  height: 15px;
}

.bar_wrapper {
  background-image: linear-gradient(90deg, #3f2b96, #a8c0ff);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
  font-size: 0.9rem;
}

.bar_name {
  font-size: 1.1rem;
}

/* Project Section */

.project {
  height: 72vh;
  padding: 30px;
  overflow-y: auto;
}

.project_card_wrapper {
  margin: 10px 0;
  /* width: 100%;
  height: 100%; */
  max-height: 160px;
}

.project_card_image {
  height: 80%;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #3f2b96;
  transition: transform 0.3s linear;
}

.project_card_image:hover {
  transform: scale(1.05);
}

.project_card_icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.project_card_title {
  margin-top: 12px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_navbar {
  display: flex;
  margin-bottom: 10px;
}

.project_navbar > div {
  font-size: 1rem;
  margin: 0 5px;
  cursor: pointer;
}

.project_navbar_active {
  color: #3f2b96;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .main-content {
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar_active {
    font-size: 1.5rem;
  }

  .navbar_item {
    font-size: 1rem;
  }
}
