@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

body {
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
}

.container {
  margin-top: 50px;
}

.row {
  height: 85vh;
}

.app_sidebar {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 20px;
}

.main_content {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px;
  padding: 25px 15px;
}
